
 <h1>Inserir usuarios .</h1>
<form name="form1" action="controllerForm" method="POST">
    <input type="text" name="id" id="id" placeholder="id:"><br/>
    <input type="text" name="nome" id="nome" placeholder="Nome:"><br/>
    <input type="munber" name="senha" id="senha" placeholder="Senha:"><br/>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar"><br/>
</form>